nav{
    .navbar-description{
        display:flex;
        .logo{
            margin-right: 2em;
            margin-top: .5em;
            img{
                width: 60px;
            }
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin: 0 1.5em;
                font-size: .7em;
                position: relative;
                a{
                    text-decoration: none;
                    color: hsl(0, 0%, 41%);
                    &:hover{
                        color: hsl(0, 0%, 8%);
                        font-weight: 700;
                    }
                    img{
                        transition: all .5s;
                    }
                }
                .submenu-features{
                    left: -65px;
                    width: 210%;
                }
                .submenu-company{
                    width: 140%;
                }
                .submenu-features,.submenu-company{
                    display: none;
                }
                .show-submenu{
                    margin-top: 1em;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    z-index: 1;
                    background-color: white;
                    padding:0.5em 1em;
                    font-size: 1.5em;
                    box-shadow: 1px 1px 15px hsla(0, 0%, 41%,0.3);
                    border-radius: 8px;
                    li{
                        width: 100%;
                        margin: .5em auto;
                        background-color: white;
                        img{
                            margin-right: 1em;
                            width: 13px;
                        }
                    }
                }
            }
        }
    }
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    align-items: center;
    position: relative;
    .init-sesion{
        a{
            margin: 0 .5em;
            text-decoration: none;
            font-size: .7em;
            color: hsl(0, 0%, 41%);
            &:hover{
                color: hsl(0, 0%, 8%);
                font-weight: 700;
            }
        }
        .btn-register{
            border: 1px solid hsl(0, 0%, 41%);
            padding: 1em 1.4em;
            border-radius: 1em;
            &:hover{
                border: 1px solid hsl(0, 0%, 8%);
                color: hsl(0, 0%, 8%);
                font-weight: 700;
            }
        }
    }
    span{
        display: none;
    }
    .arrow-inverse{
        transform: rotate(180deg);
    }
}
@media screen and (max-width:670px) {
    nav{
        padding: 1em 1.5em;
        padding-bottom: 0;
        height: 45px;
        .navbar-description ul{
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            height: 100vh;
            width: 60%;
            top: 0;
            right: -100%;
            position: fixed;
            padding: 45px 0;
            transition: all .5s;
            z-index: 2;
            li{
                margin: 1em 1.5em;
                font-size: .9em;
                background-color: white;
                .submenu-features,.submenu-company{
                    display: none;
                }
                .show-submenu{
                    display: flex;
                    position: relative;
                    left: 0;
                    font-size: 1em;
                    box-shadow: none;
                    border-radius: 0;
                    margin-top: .7em;
                    padding:0.5em 1.5em;
                    li{
                        width: 100%;
                        margin: .5em auto;
                        a{
                            background-color: white;
                            img{
                                margin-right: 1em;
                                width: 13px;
                            }
                        }
                    }
                }
            }
        }
        .init-sesion{
            display: none;
        }
        span{
            display: inline-block;
            z-index: 2;
            background-color: transparent;
            img{
                background-color: transparent;
            }
        }
    }
}